{% extends 'layout.html' %}
{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a  class="text-white" href="/">Home /</a>
        <a class="text-white"  href="{% url 'collections' %}">Collections</a>/
     
    </div>
</div>




<!--content-->



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Collections</h1>
            <hr>
            <div class="row">
                {% for item in category %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'collectionsview' item.slug %}">
                        <div class="card-body">
                            <div class="category-image">
                                <img src="{{ item.image.url }}" alt="category-image">
                                <h4>{{ item.name }}</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}